.picker-container{
    cursor: inherit !important;
    
}
.picker-container .uk-width-1-1 {
    padding-top: 20%;
}
progress::-webkit-progress-value { background: var(--main-color) !important; }
textarea{
    resize: none;
}
.another-folder{
    color: #a0a0a0 !important;
    font-size: 15px;
}