@import url('./UbuntuCondensed-Regular.ttf');
:root {
    --orange: #F26627;
    --light-orange:#F9A26C;
    --selected-orange:#f78c5b;
    --white: #ffffff;
    --light-green: #9BD7D1;
    --dark-blue: #325D79;
    


    /* --main-color: #F1828D; */
    --main-color: #696969;
    --main-text-color: var(--white);
    /* --main-selected-color: rgb(243, 212, 227); */
    --main-selected-color: #757575;
    --main-container-color: var(--white);
}
body{
    overflow-y: hidden;
    font-family: 'Ubuntu Condensed', sans-serif !important;
}
a {
    color: var(--main-text-color) !important;
    font-family: 'Ubuntu Condensed', sans-serif !important;
}
h1,h2,h3,h4 {
    font-family: 'Ubuntu Condensed', sans-serif !important;
}
li :focus {
    background: var(--main-selected-color) !important;
}
.uk-navbar-container {
    background: var(--main-color) !important;
}

#app {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--main-container-color);
}
.nav-item {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}